<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>APPLICATION</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header">

                    <h2 id="content">
                        <%= doc.type %>
                    </h2>

                </header>

                <br>
                <p>
                    <%= doc.content %>
                </p>

                status :
                <%= doc.status %>

                    <div>Timeline :&nbsp;


                            <span><%= doc.timeline %>&nbsp;</span>


                    </div>

                    <p>
                        <i><b>To be verified by</b>
                        <%= doc.dueDate %>
                    </i>
                    </p>
                <div class="form-group" style="width: 60%;">
                    <label for="comment" style="font-size: 17px;"><b>Comment:</b></label>
                    <textarea class="form-control" rows="3" id="comment" style="border: black 1px solid;"></textarea>
                </div><br>
                <button class="btn btn-primary" id="accept" >Accept</button>
                <button class="btn btn-primary" id="reject" >Decline</button>
                <br><br>
                <button class="btn btn-primary" id="printbtn">Print Application</button>
            </div>
        </div>
    </div>
    </div>
    </div>


    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <script src="./javascripts/application.js"></script> 
    <script src="assets/js/jquery/applicationf.js"></script>

</body>

</html>