<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>APPLICATION</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header">

                    <h2 id="content">
                        <%= doc.type %>
                    </h2>

                </header>

                <br>
                <p>
                    <%= doc.content %>
                </p>

                status :
                <%= doc.status %>

                    <div>Timeline :&nbsp;
                        <% for (var i = 0; i < doc.timeline.length; i++) { %>


                            <span><%= doc.timeline[i] %>&nbsp;</span>


                            <% } %>
                    </div>

                    <p>
                        <i>To be verified by
                        <%= doc.dueDate %>
                    </i>
                    </p>
                <button class="btn btn-primary" id="printbtn">Print Application</button>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <script src="./javascripts/application.js"></script>

</body>

</html>